asgiref==3.11.1
Django>=5.0,<6.0
sqlparse==0.5.5
tzdata==2026.2
django-mptt
djangorestframework
djangorestframework-simplejwt
Pillow
django-environ
django-modeltranslation
Gunicorn
Whitenoise
psycopg2-binary
celery
redis
django-taggit
sorl-thumbnail
django-ckeditor-5
django-guardian
django-compressor
django-storages
boto3
deep-translator
django-celery-beat
lxml
beautifulsoup4
requests
bleach
cryptography
arabic-reshaper
python-bidi
